<div class="flex flex-col">
  <div class="flex">
    <div class="flex justify-center">
      <div class="w-[100px] cursor-pointer">
        <img src="assets/images/m-loog-3.png" alt="logo" class="rounded-full">
      </div>
    </div>
    <header class="flex flex-row items-center rounded header-container w-full bg-teal-400 m-4 shadow justify-between px-6 h-[70px]">
      <div>
        <nav class="flex gap-6 text-[18px] text-gray-800">
          <div class="flex hover:text-cyan-600">
            <i class="material-icons mr-1">house</i>
            <p class="cursor-pointer">Home</p>
          </div>
          <div class="flex hover:text-cyan-600">
            <i class="material-icons mr-2">category</i>
            <p class="cursor-pointer">Products</p>
          </div>
          <div class="flex hover:text-cyan-600">
            <i class="material-icons mr-2">shop</i>
            <p class="cursor-pointer">Shop</p>
          </div>
          <div class="flex hover:text-cyan-600">
            <i class="material-icons mr-2">tty</i>
            <p class="cursor-pointer">Contact Us</p>
          </div>
        </nav>
      </div>
      <div class="flex text-gray-800 justify-center items-center">
        <div class="justify-center items-center mr-16 input-container relative">
          <input type="text"
                 class="p-2 rounded` border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200"
                 placeholder="Search products">
          <i class="material-icons mr-2 input-container__icon absolute cursor-pointer text-gray-500">search</i>
        </div>
        <i class="material-icons">shopping_cart</i>
        <button class="m-4 border bg-gray-100 border-gray-600 rounded-full px-4 py-2 hover:text-red-500 fon">Register</button>
        <button class="m-4 border bg-gray-100 border-gray-600 rounded-full px-4 py-2 hover:text-red-500">Sign In</button>
      </div>
    </header>
    <div class="mt-10 justify-center items-center rounded">
    </div>
  </div>
  <div>
   <!-- <video controls autoplay class="fixed">
      <source src="assets/images/mushroom-video.mp4" type="video/mp4">
    </video>-->

  </div>
</div>
